/*Selects options background*/
select option {
  background-color: #32325d;
}

.checkbox {
	padding: 1rem;
	margin: 1rem;
}

.grupo-permisos {
	border: 1px #e14eca solid;
	border-radius: 1rem;
}

.login-title {
	color: rgb(43, 0, 64) !important;
	font-size: 2.8rem;
	position: relative;
	margin-top: 1rem;
	text-align: center;
}